* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons-container {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.each-button {
  margin: 15px;
  color: #db1c48;
  border: 1px solid #db1c48;
  border-radius: 10px;
  background-color: transparent;
  width: 100px;
  height: 30px;
  cursor: pointer;
}
.image {
  width: 300px;
}
.active {
  border: none;
  color: #ffffff;
  background-color: #db1c48;
}
